body {
	width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, #a23716, #7f6a72, #295c6e, #23D5AB);
	background-size: 400% 400%;
	animation: Gradient 15s ease infinite;
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

h1 {
	font-size: 2.5em;
    margin-bottom: 0px;
    text-align: center;
    font-family: "Palatino Linotype";
    color: #F6F6FF;
}
.topnav {
	    display: flex;
    justify-content: center;
}
.paint-tools, .pencil, .photo-camera{
    width: 30px;;
    height: 60px;
    opacity: 0.8;
}

.photo-camera {
	    padding-left: 30px;
    padding-right: 30px;
}

img:hover {
	opacity: 1;
}
.side-bar{
    display: flex;
    position: absolute;
    padding-left: 1228px;
}
.avatars-container, .avatar-container{
	display: flex;
	justify-content: center;
}

.avatar-container {
	flex-direction: column;
	margin: 100px;
	opacity: 0.8;
	margin-top: 150px;
	flex-wrap: wrap;

}
.avatar-container:hover {
	opacity: 1;
}

.avatar-1, .avatar-2 {
	height: 180px;
}
.avatar-container h1 {
	font-family: "Palatino Linotype";
    color: #19be97;
}
.avatar-contaier .text-field {
	color: #19be97;
	display: flex;
	font-family: "Palatino Linotype";
}
