body {
	font-family: 'Ribeye Marrow';
	font-size: 22px;
	width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, #a23716, #7f6a72, #295c6e, #23D5AB);
	background-size: 400% 400%;
	animation: Gradient 15s ease infinite;
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.title-form-container{
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
h1 {
	text-align: center;
    color: #F6F6FF;
}

h4 {
	font-family: 'Ribeye Marrow';
    font-size: 21px;
    color: #AAAAAA;
    margin-top: 0px;
}

.form-container {
    display: flex;
    justify-content: center;
    background-color: #F6F6FA;
    border-radius: 8px;
    padding: 40px;
    width: 40%;
}

.form-container h3{
	color: #3A405A
}

.title-field-container {
	    display: flex;
    	justify-content: center;
    	flex-direction: column;
}

.field-container {
	display: flex;
	flex-direction: column;
}

.label-container {
	display: flex;
	flex-direction: column;
	padding: 5px;
}

.label-container label{
	font-size: 17px;
	color: #3A405A;
	padding-bottom: inherit;
}

.label-container input{
	padding: 4px;

}

.label-container select{
	padding: 4px;

}

.radio-container {
	display: flex;
	justify-content: center;
}

.button-container{
 	display: flex;
 	justify-content: space-around;
	flex-direction: row;
	padding-bottom: 8px;
}

.start-button{
    color: #1BA38E;
	border: 2px solid #1BA38E;
	padding: 8px 19px;

}

.start-button{
	font-size: 15px;
	outline: none;
	border-radius: 8px;
	background-color: #ffffff;
	margin-top: 30px;
}

.start-button:hover {
	color: #F6F6FF;
	background-color: #1BA38E;
}

a{
	text-decoration: none;
}
